{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}System's matrixs{% endblock %}

{% block main_content %}

<h1>Ichnaea Matrixs</h1>
<table class="table">
 <thead>
   <th>Name</th>
   <th>&nbsp;</th>
 </thead>
 <tbody>
 {% for matrix in matrixs %}
   <tr>
   <td>
     {{matrix.name}}
   </td>
   <td>
   {% if is_granted('ROLE_SUPER_ADMIN') %}
   <a class="btn btn-mini" href="{{path('matrix_ui_edit', {'matrix_id': matrix.id})}}" name="view_matrix" title="For Admins: Configure columns and samples">
   <i class="icon-edit"></i>
   {%  endif %}
    <a class="btn btn-mini" href="{{path('matrix_ui_view', {'matrix_id': matrix.id})}}" name="view_matrix" title="View matrix">
       <i class="icon-eye-open"></i>
     </a>
     {% if matrix.visible == '0' %}
     {% else %}
     <a class="btn btn-mini" href="{{path('create_training_form', {'matrix_id': matrix.id})}}" name="create_training" title="Create training">
       <i class="icon-road"></i>
     </a>
     {% endif %}
     <a class="btn btn-mini" href="{{path('clone_matrix_form', {'matrix_id': matrix.id})}}" name="clone_matrix" title="Clone the matrix">
       <i class="icon-repeat"></i>
     </a>
   </td>
   </tr>
 {% endfor %}
 </tbody>
</table>
{% endblock %}

{% block extra_javascript %}
{% endblock %}