{% extends '::GUI/withOutContainer.html.twig' %}

{% block page_title %}Configuring matrix {{matrix_name}} {% endblock %}
{% block main_content %}

<div id="menu_info_block">
 <div class="container">
  <div style="width: 50%; float:left;">
   <form class="form-inline" method="post">
   <legend>Configuration</legend>
   <label for="visible">Visible</label>
   <select name="visible">
   <option value="yes" {% if visible == TRUE %}selected{% endif %}>Visible</option>
   <option value="no" {% if visible == FALSE %}selected{% endif %}>Invisible</option>
   </select>
   <button type="submit" class="btn">Save configuration</button>
   </form>
  </div>
  <div style="width: 50%; float:left;">
   <legend>Messages</legend>
	<div id="screen _messages" style="height: 100px; overflow-x: hidden;overflow-y: scroll;">
    <ul>
     {% if visible    == true %}<li>The matrix is visible. This means users can training it. If you want edit it, please change visibility property to invisible.</li>{%  endif %}
 	 {% if is_trained == false %}<li>The matrix has been trained. Please consider update actions, because has not retroactive effects. Consider to clone the matrix when the feature is able</li>{%  endif %}
 	 {% if complete   == false %}<li>The matrix is not complete. All the samples needs an origin.</li>{%  endif %}
 	</ul>
 	</div>
  </div>
 </div>

 <legend class="container">Matrix Data 
  <!--  <a class="btn btn-mini" href="{{ path('matrix_download_form', {'matrix_id': matrix_id}) }}" name="download_matrix" title="Download matrix"><i class="icon-arrow-down"></i></a>-->
  <a class="btn btn-mini" href="{{ path('matrix_download_data', {'matrix_id': matrix_id}) }}" name="download_matrix_template" title="Download matrix only data, for update any value"><i class="icon-download-alt"></i></a>
  <a class="btn btn-mini" href="{{ path('matrix_update_data_form', {'matrix_id': matrix_id}) }}" name="download_matrix_template" title="Reload only data, previously download"><i class="icon-retweet"></i></a>
  <a class="btn btn-mini" href="{{ path('matrix_delete_confirmation', {'matrix_id': matrix_id}) }}"><i class="icon-remove"></i></a>
  <div id="submit_info" style="display: inline;">
    <button id="save_all_changes" class="btn btn-danger" style="visibility: hidden;" onclick="save_all_pending_action();">Save all changes</button>
  </div>
 </legend>
</div>

{% include 'MatrixBundle:Matrix:edit_matrix_table.html.twig' %}

{% endblock %}