{% extends '::GUI/withOutContainer.html.twig' %}

{% block page_title %}Prediction matrix {{matrix_name}} {% endblock %}

{% block main_content %}

<div class="container">
<legend>
Prediction matrix: "{{ matrix_name }}"

{% if matrix_status == 'pending' or matrix_status == '' %}
	<a class="btn btn-mini" 
		href="{{
			path('update_prediction_matrix_form', 
			{'prediction_id': matrix_id, 'training_id': training_id, 'matrix_id': matrix_trained_id })}}" 
		name="download_matrix" title="Update matrix">
		<i class="icon-refresh"></i>
	</a>
{% endif %}

{% if matrix_status == 'pending' %}
	<a href="{{ 
		path('prediction_resend', 
			{	
				matrix_id: matrix_trained_id, 
				training_id: training_id, 
				prediction_id: matrix_id
			}
		)}}" 
		class="btn btn-mini btn-warning">Resend prediction</a>
{% else %}
    <a href="{{ 
    	path('prediction_send', 
    	{
    		matrix_id: matrix_trained_id, 
    		training_id: training_id, 
    		prediction_id: matrix_id
		}) }}" class="btn btn-mini btn-success">Perform prediction</a>
{% endif %}

</legend>
</div>

{%  include 'MatrixBundle:Matrix:view_matrix_table.html.twig' %}

{% endblock %}
