{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<ul class="nav nav-tabs" id="myTab">
	<li class="active" id="tab_variables"><a href="{{ path("fos_user_security_login") }}">Login</a></li>
	<li id="tab_login"><a href="{{ path("fos_user_registration_register") }}">Sign in</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="login">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  
    <div>
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    
    <div>
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
	</div>
	
	<div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	</div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    <a href="{{ path("fos_user_resetting_request")}} ">Forget your password?</a>
</form>
</div>
{% endblock fos_user_content %}
