{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}Create a training{% endblock %}

{% block body %}

<div class="container">
 <form method="post" id="trainingForm" class="form-horizontal">
 {% if errors %}
  <div style="color:red">
  {% for error in errors %}
  {{ error }}
  {% endfor %}
  </div>
  {% endif %}
  <div style="float: left; width: 50%;">
	  <legend>Create a new training</legend>
	  <div class="control-group">
	   <label class="control-label" for="Name">Name</label>
	    <div class="controls">
	     <input type="text" id="name" name="name" placeholder="Training name" required {% if name %}value="{{name}}"{% endif %}>
	    </div>
	  </div>
	  <div class="control-group">
	   <label class="control-label" for="Name">Description</label>
	    <div class="controls">
	     <input type="text" id="description" name="description" placeholder="Brief description" {% if description %}value="{{ description }}"{% endif %}>
	    </div>
	  </div>
  </div>
  <div style="float: left; width: 50%;">
	  <legend>Select versus</legend>
	  <select id="origin_versus" name="origin_versus">
	  <option value="all" default>All</option>
	  {% for origin in origins %}
	  <option value="{{ origin }}">{{ origin }}</option>
	  {% endfor %}
	  </select>
  </div>
</div>

<div class="container">
  <legend>Columns selections</legend>
  <p>Select the columns you want to train
  <div style="overflow-x: auto;">
  <table class="table table-bordered">
  <tr>
  <th style="background-color: grey">
  Alias
  </th>
  {% for c in columns%}
  <th>  
     {{ c.name }}<br>
  </th>
  {% endfor %}
  </tr>
  <tr>
  <th style="background-color: grey">Variable</th>
  {% for c in columns%}
  <th>  
  	{% if c.variable is not null %}{{ c.variable.name }}<br>{% endif %}
  </th>
  {% endfor %}
  </tr>
  <tr>
  <th style="background-color: grey">
    Season Set
  </th>
  {% for c in columns%}
  <th>  
  	{% if c.seasonSet is not null %}{{ c.seasonSet.name }}<br>{% endif %}
  </th>
  {% endfor %}
  <tbody>
  <tr>
  <td>
  	Select all<input type="checkbox" id="select_all_columns" onclick="toggleChecked(this.checked)"></input>
  </td>
  {% for c in columns%}
  <td>
  <input type="checkbox" class="selected_column" name="select_column[]" id="column_{{ c.id }}" value="{{ c.id }}" checked></input>
  </td>
  {% endfor %}
  </tbody>
  <tr>
  </table>
  </div>
  
  
  </div>
  <div class="form-actions">
   <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
 </form>
</div>
{% endblock %}

{% block extra_javascript %}

function toggleChecked(status) {
 $(".selected_column").each( function() {
    $(this).prop("checked", status)
 });
}

$(document).ready(function(){
 $("#advanced_options").hide();
 $("#expand_action").click(function()
  {
    $("#advanced_options").slideToggle(500);
  });
  
 $( "#trainingForm" ).validate({
  rules: {
    k1: {
      number: true
    },
    k2: {
      number: true
    },
    max_size_variable_set: {
      number: true,
      max: {{n_columns}},
      min: function(){if ($('#min_size_variable_set').value()) return ('#min_size_variable_set').value(); return 1;}
    },
    min_size_variable_set: {
      number: true,
      max: function(){if ($('#max_size_variable_set').value()) return ('#max_size_variable_set').value(); return 5;},
      min: 0,
      //Falta que min <= max
    },
    best_models_percentage: {
      number: true,
      max: 100,
      min: 0,
    },
    min_size_variable_set: {
      number: true
    },
    max_size_variable_set: {
      number: true
    }
  }, 
  messages: {
    k1: {
      number: "Must be an integer"
    },
    k2: {
      number: "Must be an integer"
    },
    best_models_percentage: {
      number: "Must be a decimal between 0 and 100"
    }
  }
});
 });
{% endblock %}