<table class="table">
 <thead>
 <tr>
 <th>&nbsp;</th>
  <th>Name</th>
  <th>Matrix</th>
  <th>Description</th>
  <th>Created on</th>
  <th>by</th>
  <th>Progress</th>
  <th>Error</th>
  <th>&nbsp;</th>
 </tr>
 </thead>
 <tbody>
 {% for training in trainings %}
 <tr class="
    {% if training.error != '' %}
    warning
    {% else %}
 	  {% if training.status == 'finished' %}
 	    {% if training.progress == '1.0' and training.error == "" %}
 	    success
 	    {% endif %}
 	  {% endif %}
 	  {% if training.status == 'sent' %}
 		  active
 	  {% endif %}
 	  {% if training.status == 'pending' %}
 	     warning
 	  {% endif %}
 	{% endif %}
 ">
   <td>{{ loop.index }}</td>
   <td>{{ training.name }}</td>
   <td><a href="{{ path('matrix_ui_view', {'matrix_id' : training.matrix.id}) }}">{{ training.matrix.name }}</td>
   <td>{{ training.description }}</td>
   <td>{{ training.created | date('d-m-Y') }}</td>
   <td>{{ training.trainer.username }}</td>
   <td>{{ training.progress }}</td>
   <td>{{ training.error }}</td>
   <td>
     <a class="btn btn-mini" href="{{path('training_view', {'matrix_id': training.matrix.id, 'training_id': training.id})}}" name="view_training" title="View training">
       <i class="icon-eye-open"></i>
     </a>
     <!--  <a class="btn btn-mini" href="{{path('training_delete', {'matrix_id': training.matrix.id, 'training_id': training.id})}}" name="view_training" title="View training"> --> 
     <i class="icon-remove"></i>
     
     {% if training.status == 'finished' and training.progress == '1.0' %}
     <a class="btn btn-mini" href="{{path('create_prediction_matrix_form', {'matrix_id': training.matrix.id, 'training_id': training.id})}}" name="view_training" title="Create a matrix prediction">
     <i class="icon-th"></i>
     </a>
     {% endif %}
   </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>