{% extends '::GUI/withContainer.html.twig' %}

{% block page_title %}Viewing {{training.name}}{% endblock %}

{% block body %}
<div class="container">
 <legend>"{{training.name}}" <i>created by</i> {{training.trainer.username}} <i>on</i> {{training.created|date('d-m-Y')}}</i></legend>
 <span>Description: </span><span>{{training.description}}<span></br>
 <legend>Configuration</legend>
 <table class="table">
 <tr>
   <!--  <th>K1</th>
   <th>K2</th>
   <th>Best models</th>
   <th>Minimum size variable set</th>
   <th>Maximum size variable set</th>
   <th>Type of search</th>-->
   <th>Name</th>
   <th>Origin selected</th>
   <th>Cue id</th>
 </tr>
 <tr>
   <!--  <td>{{training.k1}}</td> 
   <td>{{training.k2}}</td>
   <td>{{training.bestModels}} %</td>
   <td>{{training.minSizeVariableSet}}</td>
   <td>{{training.maxSizeVariableSet}}</td>
   <td>{{training.typeOfSearch}}</td>-->
   <td>{{training.name}}</td>
   <td>{% if training.originVersus == "" %} All versus all {% else %} {{ training.originVersus }} {% endif %}</td>
   <td>{{training.requestId}}</td>
 </tr>
 </table>
 <legend>Columns selected for this training</legend>
 <div style="overflow-x: auto;">
  <table class="table table-bordered">
  <tr>
  <tr>
  <th style="background-color: grey">Variable</th>
  {% for c in training.columnsSelected %}
  <th>  
  	{% if c.variable is not null %}{{ c.variable.name }}<br>{% endif %}
  </th>
  {% endfor %}
  </tr>
  
  <tr>
  <th style="background-color: grey">
    Season Set
  </th>
  {% for c in training.columnsSelected %}
  <th>  
  	{% if c.seasonSet is not null %}{{ c.seasonSet.name }}<br>{% endif %}
  </th>
  {% endfor %}
  </tr>
  <tr>
  <th style="background-color: grey">
  Alias
  </th>
  {% for c in training.columnsSelected %}
  <th>  
     {{ c.name }}<br>
  </th>
  {% endfor %}
  </tr>
  </table>
  </div>
 <form name="check_trainig" action="{{path('training_check', {matrix_id: training.matrix.id, training_id: training.id})}}">
 <button type="submit" class="btn btn-primary">Check training</button>
 </form>
 <legend>Results</legend>
 Status: 
    <div class="progress progress-striped ">
    <div class="bar" style="width: {{ training.progress * 100 }}%;"></div>
</div>
 
 {% if training.error or training.status == 'pending'%}
 <form name="resend_training" action="{{path('resend_training', {matrix_id: training.matrix.id, training_id: training.id})}}">
   {% if training.error %}
   Error on training: <div class="error">{{ training.error }} </div>
   {% endif %}
   {% if training.status == 'pending'%}
   <div class="error">The training is pending. Maybe connection problems. Try to resend it. If the problem persist, please contact to Ichnaea Administrators</div>
   {% endif %}
   <button type="submit" class="btn btn-danger">Resend training</button>
   </form>
 {% endif %} 
 <legend>Predictions </legend>
 <ul>
 {% for prediction in predictions %}
 <li>{{ prediction.name }} 
 <a class="btn btn-mini" href="{{path('view_matrix_prediction', {'matrix_id': training.matrix.id, 'prediction_id': prediction.id, 'training_id': training.id})}}" name="create_training" title="Create training"><i class="icon-eye-open"></i></a></li>
 {% endfor %}
 </ul>
{% endblock %}
